.row {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.colorName {
  width: 100px;
  font-size: 14px;
  font-weight: 500;
  margin-right: 16px;
}

.palette {
  display: flex;
  flex-direction: row;
  flex: 1;
}