@use './colors';
@use './typography';

body {
  background: var(--background);
  color: var(--text-primary);
  font-family: var(--font-primary);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background 300ms ease, color 300ms ease;
  & .disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}