.text-primary {
  color: var(--text-primary);
}

.text-secondary {
  color: var(--text-secondary);
}

.text-success {
  color: var(--text-success);
}

.text-warning {
  color: var(--text-warning);
}

.text-info {
  color: var(--text-info);
}

.text-error {
  color: var(--text-error);
}
