@use '../src/styles/index.scss';

body {
  .sbdocs-wrapper, .sbdocs-preview {
    background-color: inherit;
  }
  .sbdocs-wrapper {
    padding: 2rem 20px;
  }
  .docblock-code-toggle {
    font-family: inherit;
    background-color: var(--button-secondary-default);
    color: var(--button-secondary-contrast);
    border: none;
  }
  .docblock-argstable {
    & th {
      color: var(--text-primary) !important;
      & span {
        font-family: var(--font-secondary) !important;
      }
    }
    & td {
      background-color: var(--button-secondary-default) !important;
      color: var(--button-secondary-contrast) !important;
      & span {
        font-weight: 400;
      }
    }
    & textarea, select {
      background-color: var(--button-secondary-default) !important;
      color: var(--button-secondary-contrast) !important;
      box-shadow: var(--button-secondary-contrast) 0px 0px 0px 1px inset !important;
    }
    & span {
      font-size: 0.833rem !important;
    }
  }
  #control-disabled {
    background-color: var(--button-secondary-default) !important;
    color: var(--button-secondary-contrast) !important;
    box-shadow: var(--button-secondary-contrast) 0px 0px 0px 1px inset !important;
    & ~ span {
      color: var(--button-secondary-contrast);
      position: relative;
    }
  }
  #control-disabled:not(:checked) {
    & ~ span:first-of-type {
      background-color: var(--button-secondary-hover);
    }
  }
  #control-disabled:checked {
    & ~ span:last-of-type {
      background-color: var(--button-secondary-hover);
    }
  }
}