@use '../src/styles/index.scss';

body {
  .sbdocs-wrapper, .sbdocs-preview {
    background-color: inherit;
  }
  .sbdocs-wrapper {
    padding: 2rem 20px;
  }
  .docblock-code-toggle {
    font-family: inherit;
    background-color: var(--surface);
    color: var(--text-primary);
    border: none;
  }
  .docblock-source {
    background-color: var(--surface);
    color: var(--text-primary);
    & .token {
      color: var(--text-primary) !important;
    }
    & button {
      font-family: inherit;
      background-color: var(--muted);
      color: var(--text-primary);
      border: none;
    }
  }
  .docblock-argstable {
    & th {
      color: var(--text-primary) !important;
      & span {
        font-family: var(--font-secondary) !important;
      }
    }
    & td {
      background-color: var(--surface) !important;
      color: var(--text-primary) !important;
      & span {
        font-weight: 400;
      }
    }
    & textarea, select {
      background-color: var(--surface) !important;
      color: var(--text-primary) !important;
      box-shadow: var(--text-primary) 0px 0px 0px 1px inset !important;
    }
    & span {
      font-size: 0.833rem !important;
    }
  }
  input[role="switch"] {
    background-color: var(--surface) !important;
    color: var(--text-primary) !important;
    box-shadow: var(--text-primary) 0px 0px 0px 1px inset !important;
    & ~ span {
      color: var(--text-primary);
      position: relative;
    }
  }
}